



html, body {
	background-color: #000000;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

canvas {
	position: absolute;
	bottom: 0;
	top:0;
	left: 0;
	right: 0;
	margin:auto;

	/* Remove cursor within canvas */
	cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjbQg61aAAAADUlEQVQYV2P4//8/IwAI/QL/+TZZdwAAAABJRU5ErkJggg=='),
	url(images/blank.cur),
	none !important;
}
